Web References/WebReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRecordFileInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecordFileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecordFileInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBlacklist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beginTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cause" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agentID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBlacklistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertBlacklistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectBlackList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="condition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectBlackListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectBlackListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="condition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecordCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRecordFileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecordFileInfo" />
  </wsdl:message>
  <wsdl:message name="GetRecordFileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecordFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBlacklistSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBlacklist" />
  </wsdl:message>
  <wsdl:message name="InsertBlacklistSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBlacklistResponse" />
  </wsdl:message>
  <wsdl:message name="SelectBlackListSoapIn">
    <wsdl:part name="parameters" element="tns:SelectBlackList" />
  </wsdl:message>
  <wsdl:message name="SelectBlackListSoapOut">
    <wsdl:part name="parameters" element="tns:SelectBlackListResponse" />
  </wsdl:message>
  <wsdl:message name="RecordCountSoapIn">
    <wsdl:part name="parameters" element="tns:RecordCount" />
  </wsdl:message>
  <wsdl:message name="RecordCountSoapOut">
    <wsdl:part name="parameters" element="tns:RecordCountResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetRecordFileInfo">
      <wsdl:input message="tns:GetRecordFileInfoSoapIn" />
      <wsdl:output message="tns:GetRecordFileInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBlacklist">
      <wsdl:input message="tns:InsertBlacklistSoapIn" />
      <wsdl:output message="tns:InsertBlacklistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectBlackList">
      <wsdl:input message="tns:SelectBlackListSoapIn" />
      <wsdl:output message="tns:SelectBlackListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecordCount">
      <wsdl:input message="tns:RecordCountSoapIn" />
      <wsdl:output message="tns:RecordCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecordFileInfo">
      <soap:operation soapAction="http://tempuri.org/GetRecordFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBlacklist">
      <soap:operation soapAction="http://tempuri.org/InsertBlacklist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectBlackList">
      <soap:operation soapAction="http://tempuri.org/SelectBlackList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordCount">
      <soap:operation soapAction="http://tempuri.org/RecordCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecordFileInfo">
      <soap12:operation soapAction="http://tempuri.org/GetRecordFileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBlacklist">
      <soap12:operation soapAction="http://tempuri.org/InsertBlacklist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectBlackList">
      <soap12:operation soapAction="http://tempuri.org/SelectBlackList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordCount">
      <soap12:operation soapAction="http://tempuri.org/RecordCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.126.226.173/OmniCTIWebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.126.226.173/OmniCTIWebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>